
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            margin-left: 33px;
            img {
                width: 96px;
                height: 48px;
            }
        }


        .basket {
            img {
                width: 25px;
                height: 25px;
            }
        }
    }