.Footer {
  height: 140px;
  background: #202562;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 120px;
      height: 72px;
      fill: white;
    }

    .footer_end {
      display: flex;
      align-items: center;
      gap: 90px;
      p {
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;
        line-height: 24.38px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #ffffff;
      }
    }
  }
}
