.content {
    h2 {
        color: rgb(32, 37, 98);
        font-size: 16px;
        font-weight: 700;
    }

    .boxes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-top: 9px;

        .box {
            border-radius: 15px;
            background: rgb(32, 37, 98);
            padding: 10px;
            height: 124px;

            h4 {
                font-size: clamp(8px, 2vw, 13px);
                font-weight: 600;
                color: white;
            }

            p {
                font-size: clamp(7px, 2vw, 12px);
                font-weight: 400;
                color: white;
                white-space: pre-line;
            }
        }
    }
}

@media(max-width: 767px) {
    .content {
        margin-top: 14px;


        .boxes {
            display: flex;
            flex-direction: column;

            .box {
                width: 100%;
                height: auto;
            }
        }
    }
}
